* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

ul li {
    list-style-type: none;
}

.logo {
    height: 31.99px;
    width: 121.43px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    font-size: 14px;
    font-weight: bold;
}

.navbar .container .logo-wrapper {
    display: flex;
    align-items: center;
    /* height: 60px; */
}

.navbar .container ul {
    display: flex;
    align-items: center;
    gap: 20px;
}


.navbar .container ul li a {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    /* height: 60px; */
}

.navbar .container {
    display: flex;
    width: 100%;
    max-width: 80%;
    justify-content: space-between;
    align-items: center;
    /* height: 60px; */
}

.banner {
    background: rgb(1, 1, 97);
    color: #fff;
}

.banner .container {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
    gap: 15px;
    font-weight: 100;
}

.banner .container h1 {
    font-weight: 300;
}

.banner .container .italic {
    font-style: italic;
}

.top-p {
    padding-left: 4px;
}